form(action=product._id ? `/admin/products/${product._id}/update` : `/admin/products` method='POST')
    .field
        label.label.
            Product Name
        .control
            input.input(type="text", name="name", placeholder="Product Name", value=product.name)
    .field
        label.label.
            Price
        .control
            input.input(type="number", name="price", step="0.01", value=product.price)
    .field
        label.label.
            Product Image
        .control
            input.input(type="text", name="imageUrl", value=product.imageUrl)
    .field
        label.label.
            Description
        .control
            textarea.textarea(name="description").
                #{product.description}

    .field
        .control
            button.button.is-success(type="submit").
                Create Product
                