form(action=product.id ? `/admin/products/${product.id}` : `/admin/products` method='POST')
    .field
        label.label.
            Product Name
        .control
            input.input(type="text", name="name", placeholder="Product Name", value=product.name)
    .field
        label.label.
            Price
        .control
            input.input(type="number", name="price", step="0.01", value=product.price)
    .field
        label.label.
            Product Image
        .control
            input.input(type="text", name="imageURL", value=product.imageURL)
    .field
        label.label.
            Description
        .control
            textarea.textarea(name="description", value=product.description)
    .field
        .control
            button.button.is-success(type="submit").
                Create Product
                